:root {
    --primary-color: #3B5BB1;
    --secondary-color: #5FC75D;
    --background-color: #0F052D; 
    --header-background-color: #203671;
    --input-color: #36868F;
    --text-color: #fff;
    --text-secondary-color: #ACA4A4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Lexend Tera", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Lexend Tera", sans-serif;
}

.header-top {
    background-color: var(--header-background-color);
}

.logo img {
    width: 200px;
}

.header-bottom a.nav-link.active,
.header-bottom .navbar-nav a {
    color: #fff;
}

.header-bottom {
    border-bottom: 3px solid var(--secondary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 40px;
    padding: 5px 25px 8px;
    border: none;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-radius: 40px;
    padding: 5px 25px 8px;
    border: none;
}

.green {
    color: var(--secondary-color);
}

.search-bar form {
    width: 450px;
}

.search-bar form input {
    background-color: var(--input-color);
    padding-left: 50px;
}

.search-bar form input:focus {
    background-color: var(--input-color);
    padding-left: 50px;
}

.search-bar form ::placeholder {
    color: var(--text-color);
}

.search-bar form input:focus::placeholder {
    color: transparent;
}

.search-bar img {
    width: 25px;
    height: 25px;
    left: 40px;
}

.notification-icon img {
    width: 25px;
}

.main-left {
    border-right: 3px solid var(--text-secondary-color);
}

.hero p {
    color: var(--text-secondary-color);
}